name: Publish Documentation

on:
  workflow_run:
    workflows: [ "Release" ]
    types: [ completed ]
  push:
    branches:
      - documentation

jobs:
  build:
    name: Check materials and publish if tagged
    runs-on: ubuntu-latest
    steps:
      - name: Fetch source code
        uses: actions/checkout@v2

      - name: Generate JavaDoc
        run: mvn compile javadoc:javadoc

      - name: Deploy JavaDoc on GH-Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/site/apidocs
          keep_files: false

      - name: QA check Markdown content
        uses: nosborn/github-action-markdown-cli@v1.1.1
        with:
          files: .

      - name: Check links in markdown
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-verbose-mode: 'yes'
          folder-path: 'docs/'

      - name: Run mdBook
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: "latest"
      - run: |
          mdbook build

      - name: Deploy Book on GH-Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/docs
          destination_dir: ./book
          keep_files: true
